/* Ngilangin Panah Input Number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Halaman Login */
.bg-login {
  background-image: url(../images/bg_body1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.login .container {
  height: 700px;
  width: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.53);
  border-radius: 117px;
}

.login h1 {
  margin-top: 100px;
  font-family: "Asul", sans-serif;
  color: white;
  font-size: 46px;
  font-weight: 400;
}

.login h3 {
  font-family: "Asul", sans-serif;
  font-size: 36px;
  color: white;
  font-weight: 400;
}

.formulir {
  width: 500px;
  margin: auto;
}

.formulir i {
  position: absolute;
}

.formulir .icon {
  padding: 10px;
  min-width: 40px;
}

.formulir input {
  padding-left: 30px;
}

.formulir p {
  font-family: Asul;
  font-weight: 400;
  color: white;
}

.formulir .btn {
  font-family: "Asul", sans-serif;
  font-weight: 400;
  background-color: black;
  border-color: black;
}

.btn:hover {
  font-family: "Asul", sans-serif;
  font-weight: 400;
  background-color: white;
  color: black;
}

/* Halaman Admin */
.w3-sidebar {
  background-color: rgba(46, 46, 46, 1);
}

.w3-sidebar .bungkus {
  padding: 1rem;
}

.admin-nav {
  background-color: rgba(0, 101, 157, 1);
}

.navbar button {
  background-color: #f8f9fa;
  margin-left: 10px;
}

.content .card-1 {
  padding-left: 0;
}

.content .card-3 {
  padding-right: 0;
}

.content .barang-admin .card-text {
  margin-top: 20px;
  margin-bottom: 0;
}

/* Halaman User */
.navbar {
  font-family: "Asul", sans-serif;
}

.navbar .navbar-brand {
  font-weight: 400;
  font-size: 30px;
}

.navbar .nav-link {
  font-weight: 400;
  font-size: 18px;
}

.navbar .navbar-nav img {
  width: 30px;
  height: 30px;
}

.navbar-nav .nav-link {
  margin-right: 15px;
}

.content {
  min-height: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Asul", sans-serif;
}

.content .card .card-body .btn {
  background-color: rgba(0, 51, 42, 1);
  border-color: rgba(0, 51, 42, 1);
}

.content .paragraf {
  text-align: justify;
}

.content .tentang {
  margin-left: 25px;
  text-align: justify;
}

.content h4,
h5 {
  font-weight: 600;
}

.content .pesan h5 {
  font-size: 18px;
}

.content .pesan .jumlah_pesan .jumlah {
  width: 50px;
  border: 0px;
  border-bottom: 1px solid lightgray;
  text-align: center;
}

.content .kotak-luar {
  background-color: #f8f9fa;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.content .kotak-dalem {
  border-radius: 5px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
}

.content .kotak-dalem .judul-transaksi p {
  font-size: 14px;
}

.content .kotak-dalem .judul-transaksi .badge {
  background-color: orange;
}

.footer {
  font-family: "Asul", sans-serif;
  background-color: rgba(0, 51, 42, 1);
}

.footer h5 {
  font-weight: 600;
}

.footer .fa {
  margin-top: 3px;
  position: absolute;
}

.footer .telp {
  margin-left: 30px;
}

.footer .col-lg {
  margin-top: 25px;
  margin-bottom: 40px;
}
